* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 600px;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: translateY(-10px);
}

.icon {
  margin-bottom: 30px;
}

.icon img {
  width: 200px;
  height: 200px;
}

.input-container {
  margin: 20px 0;
}

.file-input {
  display: none;
}

.file-input-label {
  display: inline-block;
  width: 100%;
}

.upload-box {
  border: 2px dashed #c4c4c4;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-box:hover {
  background-color: #f0f0f0;
}

.upload-icon {
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
}

.file-list {
  margin-top: 15px;
  text-align: left;
}

.file-item {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.file-item p {
  margin: 0;
  font-size: 10px;
  color: #333;
}

.checkbox-container {
  margin-top: 20px;
  text-align: left;
}

.checkbox-container p {
  font-size: 16px;
  margin-bottom: 10px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbox-input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox-label {
  font-size: 12px;
}

.input-container #next-button {
  width: 50%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 123, 255, 0.3);
}

.input-container #next-button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  box-shadow: 0 12px 20px rgba(0, 123, 255, 0.4);
  transform: translateY(-2px);
}

.input-container #next-button:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

.remove-btn {
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  width: 10%;
}

.file-item {
  display: flex;
  justify-content: space-between;
}
